# Virtual environments
.venv/
venv/
.venv311/

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Environment / local config
.env

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

data/zenodo_raw.csv
data/zenodo_raw.csv
